{% extends 'base.html' %}
{% block body %}
    

    <div class="container my-3">
        <h2>Add a ToDo</h2>
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Todo title</label>
                <input type="text" class="form-control" name = "title" id="title" aria-describedby="emailHelp">
                
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input type="type" class="form-control" name = "desc" id="desc">
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="container">
        <h2>My ToDo</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Sl No</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    {% for todo in allTodo %}
                    <td>{{loop.index}}</td>
                    <td>{{todo.title}}</td>
                    <td>{{todo.desc}}</td>
                    <td>{{todo.date_created}}</td>
                    {% if todo.flag == True %}
                        
                   
                    <td>
                        <a href="/update/{{todo.sno}}" type = "button" class = "btn btn-dark btn-sm mx-1">Update</a>
                        <a href="/delete/{{todo.sno}}" type = "button" class = "btn btn-dark btn-sm mx-1 my-1">Delete</a>
                        <a href="/done/{{todo.sno}}" type = "button" class = "btn btn-dark btn-sm mx-1">Mark Done</a>
                    
                    </td>
                    {% else %}
                    <td>
                        <button type="button" class="btn btn-success btn-sm mx-1">Completed</button>


                    </td>
                    {% endif %}
                </tr>
                    {% endfor %}
                
            </tbody>
          </table>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    -->
{% endblock body %}
